<app-header
  [navbarBrandRouterLink]="['/home']"
  [fixed]="true"
  [navbarBrandFull]="{
    src: 'assets/img/brand/logo.svg',
    width: 89,
    height: 25,
    alt: 'PiNotice logo'
  }"
  [navbarBrandMinimized]="{
    src: 'assets/img/brand/sygnet.svg',
    width: 30,
    height: 30,
    alt: 'PiNottice Logo'
  }"
  [sidebarToggler]="false"
  [asideMenuToggler]="false"
>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#/home">Home</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" style="color: #73818f;cursor: pointer;" (click)="navigateProfile()"
        >Profile</a
      >
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <img
          *ngIf="connecteduser"
          src="{{ baseUrl }}/avatar/{{ connecteduser?.avatar }}"
          class="img-avatar"
          alt="admin@bootstrapmaster.com"
        />
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" (click)="navigateProfile()"
          ><i class="fa fa-user"></i> Profile</a
        >
        <a class="dropdown-item" href="#/updatePassword"
          ><i class="fa fa-wrench"></i> Update password</a
        >
        <div class="divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-lock"></i> Logout</a
        >
      </div>
    </li>
  </ul>
</app-header>
<br />
<div id="main-body" class="container mt-5">
  <form
    [formGroup]="resetForm"
    id="resetForm"
    (ngSubmit)="submitForm(resetForm)"
    class="row d-flex justify-content-center"
  >
    <h1 class="col-12">Update Password</h1>
    <label for="" class="col-12 mt-3">Please enter your old password</label>
    <input
      type="password"
      class="col-12"
      pInputText
      formControlName="oldPassword"
    />
    <label for="" class="col-12 mt-3">Please enter your new password</label>
    <input
      type="password"
      class="col-12"
      pInputText
      formControlName="newPassword"
    />
    <label for="" class="col-12 mt-3">Confirm password</label>
    <input
      type="password"
      class="col-12"
      pInputText
      formControlName="confirmPassword"
    />
    <button type="submit" class="btn mt-3 btn-outline-success">Update</button>
  </form>
</div>
