<div id="main-body" class="container">
    <form
      [formGroup]="resetForm"
      id="resetForm"
      (ngSubmit)="submitForm(resetForm)"
      class="row d-flex justify-content-center"
    >
      <h1 class="col-12">Reset Password</h1>
      <label for="" class="col-12 mt-3">Please enter your new password</label>
      <input type="password" class="col-12" pInputText formControlName="password">
      <label for="" class="col-12 mt-3">Confirm password</label>
      <input type="password" class="col-12" pInputText formControlName="confirmPassword">
      <button type="submit" class="btn mt-3 btn-outline-success">
        Confirm 
      </button>
    </form>
  </div>